<div class="content">
  <div class="women_main">
    <div class="cal-main">
      <div class="calender graph-form">
        <div class="tool-tips">
          <h3 class="inner-tittle two">
            <% if user_signed_in? %>
              <% unless current_user.company %>
                <%= t ".update_company_notification" %>
                <%= link_to t(".create_company_notification"), new_company_path %>
              <% end %>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
